# backend
backend/.gradle/
backend/build/
backend/data/
backend/data/audio/
backend/bin/
backend/.idea/
*.iml
*.log

# frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# os
.DS_Store
/dist
